gatling {
  core {
    # Output encoding
    encoding = "utf-8"
    
    # Simulation class to run (can be overridden)
    # simulationClass = "loadtest.RateLimitXSimulation"
  }
  
  http {
    # Warm up the HTTP client
    enableGA = true
  }
  
  data {
    # Where to write results
    writers = [console, file]
  }
  
  charting {
    # Don't display percentile lines in response time charts
    indicators {
      lowerBound = 50
      higherBound = 100
      percentile1 = 50
      percentile2 = 75
      percentile3 = 95
      percentile4 = 99
    }
  }
}